---
import Greeting from '../components/Greeting';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>

  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
  <h2>My awesome blog subtitle</h2>
</BaseLayout>